<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.web>
      <!-- This will handle requests up to 50MB (in kilobytes) -->
      <httpRuntime targetFramework="4.5" maxRequestLength="51200" />
    </system.web>
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\UploadWebApp.dll" stdoutLogEnabled="false" stdoutLogFile="\\?\%home%\LogFiles\stdout" />
     <security>
       <requestFiltering>
         <!--The default size is 30000000 bytes (28.6 MB). MaxValue is 4294967295 bytes (4 GB)-->
         <!-- 100 MB in bytes -->
<!--         <requestLimits maxAllowedContentLength="104857600" /> -->
         <requestLimits maxAllowedContentLength="100000000"/>
       </requestFiltering>
     </security>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 2D9BD5DF-DC9A-4A10-B96D-CDC923D1A54A-->